* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
text-decoration: none !important;	
}	
body {
	background: #F7F7F7;
}
.header_logo_img {
	width: 44px;
height: 22px;
font-family: 'Commissioner', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #F52F53;
margin-right: 25px;

}

header {
	padding: 0 60px;
	background: #FFFFFF;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
}

.header_logo{
	display: flex;
	align-items: center;
}
.header_logo_text {
	display: inline-block;
	width: 89px;
height: 30px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #000000;
opacity: 0.5;
}

.header_main a{
height: 17px;
margin-left: 24px;
margin-right: 24px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
}

.header_main_active {
	font-weight: bold !important;
}

.header_util_style {
	height: 17px;
margin-right: 48px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;	
}


.header_util_img {
	width: 14px;
	height: 14px;
	margin-right: 12px;
}

.header_util_rus {
	margin-right: 12px;
}

.header_util {
	max-height: 15px;
	display: flex;
	align-items: center;
}

.header_util_container {
	display: flex;
	align-items: center;
}



.left_container {
	display: flex;
	flex-direction: column;
}
.left {
	width: 17.6%; 
}
.left_title{
	display: flex;
	flex-direction: row;
	margin-bottom: 32px;
}
.left_container_item {
	background-size: cover;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
	background-position: center;
	margin-bottom: 24px;
	height: 320px;
	border-radius: 8px;
	position: relative;
	display: flex;
	padding: 30px 30px 35px 30px;
	flex-direction: column;
	justify-content: space-between;
}
.left_container_item::after{
	left: 0px;
	bottom: 0px;
	top: 0px;
	content: '';
	background: linear-gradient(360deg, #F52F53 0%, rgba(245, 47, 83, 0) 52.6%);
	border-radius: 8px;
	background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.no_gradient::after {
	left: 0px;
	bottom: 0px;
	top: 0px;
	content: '';
	background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 52.6%);
	border-radius: 8px;
	background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.left_title_text, .left_title_number  {
	width: fit-content;
	margin-right: 8px;
height: 29px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
display: flex;
}

.left_title_number {
	width: 25px;
	opacity: 0.25;
}

.left_container_item_review_margin span{ 
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;	
}
.left_container_item_review{
	display: flex;
	flex-direction: row;
	
}
.left_container_item_review_margin {
	margin-right: 16px;
	height: fit-content;
	display: flex;
	align-items: center;
}

.left_container_item_review_margin svg {
	margin-right: 6px;
}

.left_container_item_title_subtitle {
color: #FFFFFF;
margin-bottom: 8px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;	
}
.style_title {
	font-family: Commissioner;
	height: fit-content;
font-style: normal;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}
.left_container_item_title_date {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}
.left_container_item_title {
	 vertical-align: center;
	 z-index: 100;
}

.btn_all-tops, .btn_go-archive {
	width: 100%;
height: 48px;
background: #F52F53;
}
.btn_all-tops, .btn_go-archive span {
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.index-html {
	display: flex;
	padding: 56px 3% 150px 3%; 
	justify-content: space-between;
}

.center{
	margin: 0 9%;
	width: 64%;
}

.center_title a {
	margin-bottom: 32px;
height: 29px;
left: calc(50% - 69px/2 - 445.5px);
top: 136px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.center_title {
	display: flex;
	justify-content: space-between;
}

.center_container_item {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
	padding: 39px 46px 47px 48px;
	display: flex;
	background-size: cover;
	background-position: center;
	height: 367px;
	border-radius: 8px;
	z-index: 60;
	position: relative;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 32px;
}

.center_container_item::after {
	content: '';
	background-color: rgba(0,0,0, 0.5);
	border-radius: 8px;
	height: inherit;
	width: 100%;
	z-index: 70;
	left: 0;
	top: 0;
	position: absolute;
}
.center_item_subtitle {
z-index: 80;
font-weight: 300;
}

.center_item_date {
	font-family: Commissioner;
	height: fit-content;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #FFFFFF;
z-index: 80;
}
.center_container_item_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.center_item_top-title {
	z-index: 100;
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: space-between;
	
}
.center_item_btm-title {
	display: flex;
	flex-direction: column;
}
.center_item_btm-title_title {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
	z-index: 100;
	margin-bottom: 4px;
}
.center_item_btm-title_subtitle {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
z-index: 100;
}
.btn_vote {
z-index: 100;
border: 1px solid #FFFFFF;
}
.btn_vote span, .btn_participate span {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.btn_style {
	display: flex;
align-items: center;
justify-content: center;
padding: 15px 29px;
border-radius: 24px;
}
.btn_participate{
z-index: 100;
background: #F52F53;
}
.btn_load {
	color: #F52F53;
	width: fit-content;
	margin: auto;
	border: 1px solid #F52F53;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_links a{
	height: 17px;
margin-left: 24px;
margin-right: 24px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
}
.footer_rights {
	display: inline-block;
height: 30px;
font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #000000;
opacity: 0.5;
}
.footer_logo {
	margin-bottom: 36px;
}
.footer_links {
	margin-bottom: 32px;
}
.footer_socials {
	margin-bottom: 27px;
	width: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 100px;
}
.contest-html {
	width: 100%;
	padding: 77px 16% 148px 16% !important;
	display: flex;
	flex-direction: column;
}
.description_text_subtitle {
	margin-bottom: 12px;
	color: #F52F53;
	font-style: normal !important;
}
.description_text_stata {
	display: flex;
	margin-bottom: 12px;
}
.style_text {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
color: #000000;
}
.style_text span {
	font-size: 20px;
	margin-right: 4px;
}
.style_text p {
	font-size: 14px;
	margin-right: 16px;
}

.description_text_date {
	color: #000000;
opacity: 0.5;
font-size: 14px;
margin-bottom: 24px;
}
.description_text_main-text {
	font-size: 16px;
	width: 60%;
}
.description_days {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.description_days_title {
	color: #F52F53;
	font-size: 32px;
	line-height: 39px;
	align-items: center;
	margin-bottom: 4px;
}
.btn_contest_participate {
	font-weight: bold;
font-size: 14px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
background: #F52F53;
font-family: Commissioner;
font-style: normal;
box-shadow: 0px 8px 16px rgba(245, 47, 83, 0.25);
border-radius: 30px;
}
.description_days_to-end {
	font-size: 14px;
	  text-align: right;
}
.participates_item {
	width: 240px;
	height: 320px;
	display: flex;
	background-size: cover;
	background-position: center;
	padding: 16px;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	z-index: 90;
	margin-top: 52px;
}
.participates_item::after {
	content: '';
	width: 100%;
	height: inherit;
	top: 0;
	left: 0;
	position: absolute;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 51.56%);
border-radius: 8px;
z-index: 100;
}
.participates_item_header {
	display: flex;
	justify-content: space-between;
}

.like {
	width: 48.63px;
height: 29px;
background: #FFFFFF;
border-radius: 8px;
	display: flex;
flex-direction: row;
align-items: center;
padding: 6px 8px;
}
.like svg{
	margin-right: 4px;
}
.like p{
	font-size: 14px;
}
.leader {
	width: fit-content;
height: 29px;
background: #F52F53;
border-radius: 8px;
	display: flex;
flex-direction: row;
align-items: center;
padding: 6px 8px;
}
.leader svg{
	margin-right: 4px;
}
.leader p{
	font-size: 14px;
color: #FFFFFF; 
}
.participates_item_name {
	display: flex;
	z-index: 120;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.participates_item_name p {
	font-size: 18px;
	color: #FFFFFF;
}
.participates_item_name span {
	color: #FFFFFF;
	font-size: 14px;
}
.participates_item_share {
	margin-left: auto;
}
.btn_like {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    left: 0;
    right: 0;
    margin: 0px auto;
    top: calc(100% - 25px);
    z-index: 150;
}
.participate_wrapper_overlay {
	position: relative;
	width: fit-content;
}
.btn_like_active { 
 background: #F52F53 !important;
}
.btn_like_active svg path{
	fill: #fff !important;
}
.participate_wrapper {
	flex-wrap: wrap;
	display: flex;
    justify-content: space-between;
	z-index: 130;
	position: relative;
	height: 100%;
		padding-bottom: 50px;
}
.participate_wrapper::after {
	content: '';
	z-index: 200;
	position: absolute;
	background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
transform: rotate(-180deg);
width: 100%;
	height: 348px;
	top: calc(100% - 348px);
	left: 0;
}
.participates {

}
.participates_util_title style_text {
	font-size: 24px !important;
	color: #000000;
}
.participates_util_order {
	display: flex;
	width: 380px;
    justify-content: space-between;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #F52F53;
	position: relative;
	padding: 12px 18px 0px 18px;
	width: 380px;
}
.participates_util {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.participates_util_options p {
	font-weight: normal !important;
font-size: 14px !important;
color: #000000 !important;
	margin: 16px 0;
}
.participates_util_order p {
	color: #F52F53;
	font-weight: bold;
font-size: 14px;
}
.order_active {
	
}
.participates_util_order_wrapper {
	display: flex;
	justify-content: space-between;
}
.btn_load {
	font-family: Commissioner;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
background: #F52F53;
z-index: 0;
width: 160px;
	
}
